body {
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
    border: 1px solid red;
    border-collapse: collapse;
}

th,
td {
    text-align: right;
    padding: 10px 5px;
    vertical-align: top;
}