.col,
.col-1,
div[class*='col-'] {
    border: 1px solid black;
}

#camtLogo {
    min-width: 100px;
}

.myLink {
    font-weight: bold;
    color: black;
    margin: 5px 10px;
}

.myLink:hover {
    text-decoration: none;
}

#coverImage {
    background-image: url(http://www.timeline-covers.net/-/pics/vintage/390-vintage-facebook-cover.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
}

#firstName {
    position: absolute;
    font-weight: 700;
    color: white;
    font-size: 40px;
    right: 150px;
    top: 90px;
}

#lastName {
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 30px;
    right: 100px;
    top: 140px;
}

.title-container {
    padding: 30px 0px 10px 0px;
}

.title {
    font-weight: bold;
}

#profileImg {
    min-width: 200px;
    max-width: 250px;
    border-radius: 50%;
}

.myBox {
    padding-top: 15px;
    padding-bottom: 15px;
}

.preferenceIcon {
    max-width: 200px;
}