body {
    font-family: Arial, Helvetica, sans-serif;
}

body>div {
    padding: 0 15%;
}

table,
tr,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 100%;
}

body>div>div:nth-child(1)>table>tbody>tr>td:nth-child(1)>img {
    height: 100px;
}

body>div>div:nth-child(1)>table>tbody>tr>td>div {
    min-width: 100px;
    height: 20px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

body>div>div:nth-child(1)>table>tbody>tr>td>div>a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

body>div>div:nth-child(1)>table>tbody>tr>td>div>a:hover {
    color: rgb(70, 27, 27);
    transition: 0.2s;
    filter: drop-shadow(0px 0px 3px #c7c7c7);
}

body>div>div:nth-child(1)>table>tbody>tr>td>div>a:active {
    color: rgb(66, 66, 66);
    transition: 0.2s;
}

body>div>div:nth-child(2) {
    background-image: url(http://www.timeline-covers.net/-/pics/vintage/390-vintage-facebook-cover.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
}

body>div>div:nth-child(2)>div:nth-child(1) {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 30px;
    right: 150px;
    top: 120px;
}

body>div>div:nth-child(2)>div:nth-child(2) {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 25px;
    right: 100px;
    top: 150px;
}


/* about me */

body>div>div:nth-child(3) {
    margin: 50px 0;
}


/* Profile image */

body>div>div:nth-child(3)>table>tbody>tr>td>img {
    height: 350px;
    border-radius: 50%;
}

body>div>div:nth-child(3)>table {
    width: 100%;
}

body>div>div:nth-child(3)>table>tbody>tr>td {
    padding: 30px;
}


/* Education */

body>div>div:nth-child(3)>table>tbody>tr:nth-child(2)>td {
    border-top: 5px solid rgb(102, 47, 47);
    border-bottom: 5px solid rgb(102, 47, 47);
}


/* about me image column */

body>div>div:nth-child(3)>table>tbody>tr:nth-child(1)>td:nth-child(1) {
    text-align: center;
}


/* line above preference */

body>div>div:nth-child(4)>div:nth-child(1) {
    height: 10px;
    width: 100%;
    background-color: brown;
}


/* preference container */

body>div>div:nth-child(4) {
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 0;
}


/* header preference */

body>div>div:nth-child(4)>div:nth-child(2),
body>div>div:nth-child(4)>div:nth-child(5),
body>div>div:nth-child(4)>div:nth-child(8) {
    text-align: center;
    margin-top: 40px;
}


/* table */

body>div>div:nth-child(4)>table {
    width: 100%;
    margin: 20px 0 50px 0;
}

body>div>div:nth-child(4)>table>tbody>tr>td {
    text-align: center;
    padding: 20px;
}

body>div>div:nth-child(4)>table>tbody>tr>td>img {
    width: 150px;
}

body>div>div:nth-child(4)>table>tbody>tr>td>p {
    font-size: 20px;
    font-weight: 600;
    color: rgb(59, 59, 59);
}


/* line above history */

body>div>div:nth-child(4)>div:nth-child(4) {
    height: 10px;
    width: 100%;
    background-color: rgb(212, 59, 59);
}

body>div>div:nth-child(4)>table:nth-child(6)>tbody>tr>td>img {
    width: 400px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px #585858);
}

body>div>div:nth-child(4)>table:nth-child(6)>tbody>tr>td>p:nth-child(odd) {
    font-size: 20px;
    font-weight: 600;
    color: rgb(59, 59, 59);
}

body>div>div:nth-child(4)>table:nth-child(6)>tbody>tr>td>p:nth-child(even) {
    font-size: 15px;
    font-weight: 600;
    color: rgb(151, 151, 151);
}

body>div>div:nth-child(4)>table:nth-child(6)>tbody>tr>td:nth-child(odd) {
    text-align: right;
}

body>div>div:nth-child(4)>table:nth-child(6)>tbody>tr>td:nth-child(even) {
    text-align: left;
}


/* line above speciality */

body>div>div:nth-child(4)>div:nth-child(7) {
    height: 10px;
    width: 100%;
    background-color: rgb(238, 77, 77);
}

body>div>div:nth-child(4)>table:nth-child(9)>tbody>tr>td>img {
    width: 100px;
}

body>div>div:nth-child(4)>table:nth-child(9)>tbody>tr>td>p:nth-child(even) {
    font-size: 15px;
    color: #107e47;
}


/* line bottom */

body>div>div:nth-child(4)>div:nth-child(10) {
    height: 10px;
    width: 100%;
    background-color: brown;
}