img {
    width: 150px;
}

a {
    text-decoration: none;
}


/* unvisited link */

a:link {
    color: red;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

body>table>tbody>tr:nth-child(2)>td:nth-child(3)>a>img {
    border-radius: 50%;
    width: 240px;
}

#googleLogo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}

[target="_blank"] {
    text-decoration: line-through;
}