table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    table-layout: fixed;
}

.myImg {
    margin: 10px;
}

#img1 {
    border-radius: 10px;
}

#img2 {
    filter: blur(5px);
}