table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

img.round {
    border-radius: 8px;
}

img.blur {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.synopsis {
    color: #7E8184;
    font-style: italic;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.button {
    color: #FFF;
    background-color: #5995DA;
    /* Bule */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    /* Dark gray */
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.button:hover {
    cursor: none;
}

.button:active {
    cursor: wait;
}