.box {
    width: 60px;
    height: 50px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.onHover:hover {
    cursor: pointer;
}

.red:hover {
    cursor: text;
}